.product-cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

.product-card {
  flex: 0 0 auto;
  width: 300px;
  height: 50%;
  margin-right: 100px;
}

.product-card img {
  width: 300%;
  height: 500%;
}
