.about-us-page-container {
  margin-top: 45px;
  width: 100%;
  height: 100%;
  background-color: #fcf8e8;
  overflow-y: scroll;
}

.about-us-page-container::-webkit-scrollbar {
  display: none;
}

.about-us-page-container > div {
  width: 83%;
  margin: auto;
  padding-top: 40px;
  margin-bottom: 60px;
}

.our-products-div {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 5%;
  background-color: #d7a86e;
  padding: 20px;
  border-radius: 10px;
}

.our-products-div > div {
  width: 28%;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #603601;
  font-weight: bold;
}

.our-products-div > div:hover {
  box-shadow: 2px 2px 6px grey;
}

.our-products-div img {
  width: 200px;
  height: 200px;
  margin-top: -10px;
}

.card {
  background: white;
  width: 90%;
  height: 300px;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card img {
  width: 70%;
}

.card h2 {
  color: #222;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  transition: all ease-in 100ms;
  padding-bottom: 20px;
}

.div-swapnil-enterprises > p {
  font-size: 1.2rem;
  color: #603601;
  text-align: justify;
}

.div-company-images {
  margin: auto;
  width: 70%;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.div-company-images .image-container {
  position: relative;
}

.div-company-images img {
  width: 100%;
  height: 550px;
  vertical-align: top;
}

.div-company-images p {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #d7a86e;
  color: #603601;
  padding: 5px;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.div-factsheet {
  padding-top: 0;
}

.div-factsheet > table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 70px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.div-factsheet td,
.div-factsheet th {
  padding: 10px;
  border: 2px solid #ddd;
}

.div-factsheet th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  color: #603601;
}

.div-factsheet p {
  padding-left: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #603601;
}
